.contactFormWrapper {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    textarea {
      height: 100px;
    }
    > * {
      width: 90%;
      max-width: 450px;
      border-radius: 3px;
      margin-top: 1.5rem;
      height: 30px;
      padding: 0.8rem 1.2rem;
      line-height: normal;
    }
  }
  button {
    background-color: var(--secondary-color);
    border: none;
    height: 50px;
    margin-top: 30px;
  }
}
